<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div class='pane'>
			<div class='header'>
				<h1>{{item.name}}</h1>
			</div>
			<p>Are you sure you want to delete {{item.name}}?</p>
			<form action="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}" method='POST'>
				<input type='submit' value='Delete'>
			</form>
			<a href="{{url_for('menu', restaurant_id = item.restaurant_id)}}">Cancel</a>
		</div>
	</body>
</html>